.category {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;

    &__wrap {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;

        @include hd-block() {
            padding: 0 20px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        @include xs-block() {
            margin: 0 -5px;
        }
    }

    &-nopadding {
        @include xs-block() {
            margin: 50px 0;
        }
    }

    &-item {
        position: relative;
        width: calc(1 / 3 * 100% - 30px);
        margin: 30px 15px 0;
        overflow: hidden;
        border-radius: 20px;
        background: #d9d9d9;
        min-height: 320px;

        @include xs-block() {
            width: calc(1 / 2 * 100% - 10px);
            margin: 10px 5px 0;
            min-height: 170px;
        }

        &__title {
            position: absolute;
            z-index: 10;
            padding: 30px;
            color: $color-text;
            font-family: $f-medium;
            font-size: 20px;
            letter-spacing: 0.03em;
            line-height: 21px;

            @include xs-block() {
                padding: 15px;
                font-size: 12px;
                line-height: 12px;
            }
        }

        &__image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
